<label>Title</label>
<input required type="text" name="title" value="<%= article.title %>">
<label>Author</label>
<input required type="text" name="author" value="<%= article.author %>">
<label>Description</label>
<textarea required type="text" name="description"><%= article.description%></textarea>
<label>Markdown</label>
<textarea required type="text" name="markdown"><%= article.markdown%></textarea>
<button type="submit">Submit</button>
<a href="/blogs">Cancel</a>