<!-- <label>Add A Comment</label> -->
<input required type="text" name="comment" id="comment" placeholder="Add a comment..."></input>
<% if (!user) { %>
<a class="a-add-comment-btn" href="/account/login">Add Comment</a>
<% } else { %>
<button class="add-comment-btn" type="submit">Add Comment</button>
<% } %>
