<nav>
  <div><a href="/bLogPoster" class="home-link">bLogPoster</a></div>
  <% if (!user) { %>
  <div class="account-links notLogged">
    <a href="/bLogPoster/posts" class="account-link">Blogs</a>
    <a href="/account/login" class="account-link">Login</a>
    <a href="/account/register" class="account-link">Register</a>
  </div>
  <% } else { %>
  <div class="account-links">
    <a href="/account" class="account-link">Account</a>
    <a href="/account/logout" class="account-link">Logout</a>
  </div>
  <% } %>
</nav>