<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>bLogPoster - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>
  
  <main class="account-page-section">
    <form class="basic-form" action="/account/account-recovery" method="POST">
      <h2>Recover Account</h2>
      <br>
      <%- include('./_messages.ejs')%>
      <label>Email</label>
      <input type="email" name="email" placeholder="Enter your email">
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>