<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Blogs - <%= title%></title>
</head>
<body>
  <h3>Edit Article</h3>
  <%- include('./_article_form.ejs')%>
</body>
</html>