<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>bLogPoster - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>

  <section class="full-page color3">
    <section class="ad-container spacer color1">
      <div>
        <h1>Create Your Own Blogs</h1>
        <h5>Its simple and easy to get started</h5>
      </div>
      <div>
        <a href="/account/register" class="basic-btn btn-color1">Get Started</a>
      </div>
    </section>
    <section class="ad-container color2 clip-path1">
      <h1>Style Your Blogs</h1>
      <h5>Apply your HTML and CSS skills to structure and style your blogs however you like</h5>
    </section>
    <section class="ad-container color3">
      <h1>Share Your Blogs</h1>
      <h5>Publish you blogs to a list where you can view blogs that others have created as well</h5>
    </section>
    <section class="ad-container clip-path2 spacer color4">
      <div>
        <h1>Its Quick And Easy</h1>
        <h5>All you need to do is sign up!</h5>
      </div>
      <div>
        <a href="/account/register" class="basic-btn btn-color1">Sign Up Now</a>
      </div>
    </section>
  </section>
</body>
</html>