<!DOCTYPE html>
<html lang="en">
<head>
  <%- include('./_head.ejs') %>
  <title>Blogs - <%= title %></title>
</head>
<body>
  <%- include('./_navbar.ejs')%>
  
  <main class="account-page-section">
    <form class="basic-form" action="/account/login" method="POST">
      <h2>Login</h2>
      <%- include('./_messages.ejs')%>
      <label>Username</label>
      <input type="text" name="username" placeholder="username">
      <label>Password</label>
      <input type="password" name="password" placeholder="password">
      <a href="/account/account-recovery">Forgot Username or Password</a>
      <button type="submit">Submit</button>
    </form>
  </main>
</body>
</html>