.comments-section {
  margin: 100px 0;
}

.a-add-comment-btn {
  width: 100%;
  padding: 10px;
  border-radius: var(--btnRadius);
  text-align: center;
  text-decoration: none;
  margin-top: 5px;
  margin-bottom: 5px;
  color: var(--successColor);
  border: 2px solid var(--successColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.a-add-comment-btn:hover {
  color: white;
  background-color: var(--successColor);
}

.add-comment-btn {
  border: 0;
  outline: 0;
  padding: 10px;
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: var(--successColor);
  border: 2px solid var(--successColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.add-comment-btn:hover {
  color: white;
  background-color: var(--successColor);
}

.comment-box-container {
  max-width: var(--baseWidth);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 40px 0 30px 0;
}

.comment-info {
  width: 100%;
  display: flex;
  flex-direction: column;
}

.comment-date {
  margin-left: 15px;
  opacity: 0.8;
  font-style: oblique;
}

.comment-and-edit-input-container {
  margin-top: 20px;
  .comment {
    padding-bottom: 10px;
  }
  form {
    width: 100%;

    input {
      width: 100%;
      padding: var(--inputPadding);
      border: 0;
      outline: 0;
      background: linear-gradient(black, black) bottom / 0% 2px no-repeat;
      transition: var(--btnTransition);
    }

    input:hover,
    input:focus {
      background-size: 100% 2px;
    }
  }
}

.comment-like-reply-btn-container {
  display: flex;
  justify-content: flex-start;
  flex-direction: row;
}

.like-btn {
  outline: 0;
  border: 0;
  width: 40px;
  height: 21px;
  background-color: #ccc;
  padding: 2px 3px;
  margin: 0 1px;
  cursor: pointer;
}

.a-like-btn {
  width: 40px;
  height: 21px;
  background-color: #ccc;
  padding: 2px 3px;
  margin: 0 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.reply-btn {
  outline: 0;
  border: 0;
  width: 40px;
  height: 21px;
  background-color: #ccc;
  padding: 2px 3px;
  margin: 0 1px;
  cursor: pointer;
}

.a-reply-btn {
  width: 40px;
  height: 21px;
  background-color: #ccc;
  padding: 2px 3px;
  margin: 0 1px;
  color: black;
  text-decoration: none;
  cursor: pointer;
}
.comments-btn-containers {
  width: 80px;
  display: inline-block;
  text-align: right;

  .menu-btn {
    display: inline-block;
    font-size: var(--largeFont);
    text-align: center;
    margin: auto;
    cursor: pointer;
  }
}

.hidden {
  opacity: 0;
}
.edit-del-btn-container {
  transition: all 500ms ease;
}

//############################ REPLY STYLING ############################//

.reply-comment-form {
  span {
    width: 100%;
    display: flex;
    flex-direction: row;
    margin-left: 50px;

    input {
      width: 100%;
      padding: var(--inputPadding);
      border: 0;
      outline: 0;
      background: linear-gradient(black, black) bottom / 0% 2px no-repeat;
      transition: 500ms;
    }

    input:hover,
    input:focus {
      background-size: 100% 2px;
    }

    button {
      padding: 0 2px;
    }
  }
}

.reply-comment-box-container {
  max-width: var(--baseWidth);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 30px 0 40px 50px;
}

.submit-reply-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: var(--successColor);
  border: 2px solid var(--successColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.submit-reply-btn:hover {
  background-color: var(--successColor);
  color: white;
}

.cancel-reply-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: var(--complementaryColor3);
  border: 2px solid var(--complementaryColor3);
  transition: var(--btnTransition);
  cursor: pointer;
}

.cancel-reply-btn:hover {
  background-color: var(--complementaryColor3);
  color: white;
}
