.article-container {
  max-width: var(--baseWidth);
  width: 100%;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: 20px auto;
  padding: 20px;

  .article-information {
    .article-title a {
      font-size: var(--mediumFont);
      text-decoration: none;
      color: #369ad8;
    }
    .article-author {
      display: flex;
      flex-direction: row;
      margin-top: 5px;
      div {
        margin-top: 10px;
        margin-left: 10px;
      }
      .author-img {
        height: 30px;
        width: 30px;
        border-radius: 50%;
      }
    }
    .article-date {
      margin-top: 5px;
      opacity: 0.8;
      font-style: oblique;
    }
    .article-description {
      margin-top: 10px;
    }
  }
  .del-edit-btn-container {
    width: 100%;
    max-width: 75px;
    display: flex;
    flex-direction: column;
  }
}

.new-article-btn {
  max-width: 100px;
  max-height: 30px;
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  text-align: center;
  text-decoration: none;
  text-align: center;
  margin: 30px auto 10px auto;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  cursor: pointer;
  transition: var(--btnTransition);
}

.new-article-btn:hover {
  color: white;
  background-color: var(--secondaryColor);
}
