nav {
  display: flex;
  justify-content: space-between;
  height: var(--navHeight);
  padding: 5px;
  background-color: #177e89;
}

nav div {
  margin: auto 0;
  a {
    text-decoration: none;
    color: white;
    font-size: var(--regularFont);
  }
}

.home-link {
  padding: var(--btnPadding);
  font-size: var(--mediumFont);
  transition: var(--btnTransition);
}

.account-links {
  width: 170px;
  display: flex;
  justify-content: space-between;
  padding: 5px;
}
.notLogged {
  width: 250px;
}

.account-link:hover,
.home-link:hover {
  color: var(--complementaryColor3);
  transition: var(--btnTransition);
}

nav div a:hover {
  opacity: 0.8;
}
