* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primaryColor);
}

button {
  font-size: var(--smallFont);
  font-family: 'Roboto', sans-serif;
}

input::placeholder,
input[type='text'],
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: var(--smallFont);
  text-align: center;
}

:root {
  --primaryColor: #ebebeb;
  --secondaryColor: #4062bb;
  --complementaryColor: #59c3c3;
  --complementaryColor2: #52489c;
  --complementaryColor3: #f45b69;
  --dangerColor: red;
  --warningColor: lightcoral;
  --successColor: green;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.5rem;
  --largeFont: 2rem;
  --hugeFont: 3rem;
  --inputPadding: 8px;
  --inputRadius: 20px;
  --btnRadius: 25px;
  --btnPadding: 5px 10px;
  --btnWidth: 80px;
  --btnShade: 0.5px 0.5px 2px black, -0.5px -0.5px 2px black;
  --navHeight: 80px;
  --baseWidth: 700px;
  --btnTransition: all 500ms ease;
}

//############################################## GENERAL STYLING ##############################################//
.main-header {
  font-size: var(--largeFont);
  margin: 0 auto;
}

.sub-header {
  font-size: var(--mediumFont);
  margin: 0 auto;
}

// BUTTONS
.back-btn {
  width: var(--btnWidth);
  max-height: 29px;
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  text-align: center;
  text-decoration: none;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.back-btn:hover {
  background-color: var(--secondaryColor);
  color: white;
}

.edit-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  text-align: center;
  text-decoration: none;
  margin: 5px 0;
  color: var(--successColor);
  border: 2px solid var(--successColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.edit-btn:hover {
  background-color: var(--successColor);
  color: white;
}

.publish-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.publish-btn:hover {
  background-color: var(--secondaryColor);
  color: white;
}

.unpublish-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: white;
  border: 2px solid var(--secondaryColor);
  background-color: var(--secondaryColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.unpublish-btn:hover {
  opacity: 0.8;
}

.del-btn {
  border: 0;
  outline: 0;
  width: var(--btnWidth);
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 5px 0;
  color: white;
  background-color: var(--dangerColor);
  border: 2px solid var(--dangerColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.del-btn:hover {
  opacity: 0.8;
}

.submit-btn {
  border: 0;
  outline: 0;
  width: 100%;
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin: 10px 0;
  color: var(--secondaryColor);
  border: 2px solid var(--secondaryColor);
  transition: var(--btnTransition);
  cursor: pointer;
}

.submit-btn:hover {
  color: white;
  background-color: var(--secondaryColor);
}

.cancel-btn {
  border: 0;
  outline: 0;
  padding: var(--btnPadding);
  border-radius: var(--btnRadius);
  margin-bottom: 20px;
  color: var(--complementaryColor3);
  border: 2px solid var(--complementaryColor3);
  width: var(--btnWidth);
  text-decoration: none;
  transition: var(--btnTransition);
  cursor: pointer;
}

.cancel-btn:hover {
  color: white;
  background-color: var(--complementaryColor3);
}

.del-edit-btn-container {
  width: 80px;
  display: flex;
  flex-direction: column;
}

.page-section {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5%;
}

@import 'Navbar';
@import 'Home';
@import 'Article';
@import 'Account';
@import 'Comments';
@import 'Misc';

// COLORS

.primary-color-bg {
  background-color: var(--primaryColor);
}

.secondary-color-bg {
  background-color: var(--secondaryColor);
}

.complementary-color-bg {
  background-color: var(--complementaryColor);
}

.danger-color-bg {
  background-color: var(--dangerColor);
}

.warning-color-bg {
  background-color: var(--warningColor);
}

.success-color-bg {
  background-color: var(--successColor);
}

.hide {
  display: none;
}
