* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--primaryColor);
}

button {
  font-size: var(--smallFont);
  font-family: 'Roboto', sans-serif;
}

input::placeholder,
input[type='text'],
textarea {
  font-family: 'Roboto', sans-serif;
  font-size: 1rem;
}

a {
  font-family: 'Roboto', sans-serif;
  font-size: var(--smallFont);
  text-align: center;
}

:root {
  --primaryColor: #ebebeb;
  --secondaryColor: #4062bb;
  --complementaryColor: #59c3c3;
  --complementaryColor2: #52489c;
  --complementaryColor3: #f45b69;
  --dangerColor: red;
  --warningColor: lightcoral;
  --successColor: green;
  --smallFont: 0.8rem;
  --regularFont: 1rem;
  --mediumFont: 1.5rem;
  --largeFont: 2rem;
  --hugeFont: 3rem;
  --LargestFont: 4rem;
  --inputPadding: 8px;
  --inputRadius: 20px;
  --btnRadius: 25px;
  --btnPadding: 5px 10px;
  --btnWidth: 80px;
  --btnShade: 0.5px 0.5px 2px black, -0.5px -0.5px 2px black;
  --navHeight: 100px;
  --baseWidth: 700px;
  --btnTransition: all 500ms ease;
}

//############################################## GENERAL STYLING ##############################################//
.main-header {
  font-size: var(--largeFont);
  margin: 0 auto;
}

.sub-header {
  font-size: var(--mediumFont);
  margin: 0 auto;
}

.page-section {
  max-width: 800px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5% 0;
}

.account-page-section {
  max-width: 500px;
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
  padding: 5% 0;
}

.full-page {
  width: 100%;
  display: flex;
  flex-direction: column;
  margin: auto;
}

@import 'Navbar';
@import 'Home';
@import 'Article';
@import 'Account';
@import 'Comments';
@import 'Misc';
@import 'Intro';

// COLORS

.primary-color-bg {
  background-color: var(--primaryColor);
}

.secondary-color-bg {
  background-color: var(--secondaryColor);
}

.complementary-color-bg {
  background-color: var(--complementaryColor);
}

.danger-color-bg {
  background-color: var(--dangerColor);
}

.warning-color-bg {
  background-color: var(--warningColor);
}

.success-color-bg {
  background-color: var(--successColor);
}

.hide {
  display: none;
}

@media only screen and (max-width: 700px) {
  .message-content {
    padding: 20px 0;

    form button {
      margin: 5px 10px;
    }
  }
}
@media only screen and (max-width: 450px) {
  .ad-container {
    padding: 50px 20px;

    h1 {
      margin-left: 0px;
    }
    h5 {
      margin: 20px 0 0 25px;
    }
  }
  .ad-container:first-child {
    height: 600px;
  }
  .ad-container:nth-child(3) {
    padding: 75px 20px 0 20px;
  }
  .ad-container:nth-child(4) {
    padding: 150px 20px 50px 20px;
  }
}
